<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
  <title>Msg-re</title>
</head>

<body>
	<div>
		<ul>
			{% for msg in mensagens %}
				<li>
					<div>
						{{ msg.mensagem }}
						<p>{{ msg.criado_em.strftime('%d/%m/%Y %H:%M') }}</p>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
	<footer>
		<form method="post" action="{{ request.url_for('add') }}">
			<input name="texto" placeholder="Mensagem..." required/>
			<button type="submit">></button>
		</form>
	</footer>
</body>
</html>
